.main{
    border: 2px solid black;
}

table{
    border-collapse: collapse;
}

table th{
    border: 2px solid red;
}

table td{
    border: 2px solid green;
}

.d-btn{
    background-color: rgba(255, 0, 0, 0.556);
}
